<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="v1ServerUrl" value="https://www14.v1host.com/AdobeSSOTest/" />
    <add key="username" value="pkiuser4" />
    <add key="password" value="11383729355fn7F3w" />
    <add key="integrated" value="false" />
    <!-->
		<add key="v1ServerUrl" value="https://{VersionOne Server}/{VersionOne Instance}"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="integrated" value="true"/>
<!-->
    <!--
		The idpUrl parameter needs to contain the URL to your Identity Provider (IDP) and the parameters necessary for your IDP to perform the following actions:
			1. know which Service provider to authenticate on behalf of (versionone.com)
			2. stuff the Applicaiton URL into the RelayState (TargetResource)

		For our testing we used Ping Identity, so our idpUrl value looked like:
			http://{idp server}/idp/startSSO.ping?PartnerSpId=versionone.com&amp;TargetResource=https://{VersionOne Server}/{VersionOne Instance}/Default.aspx
			
		Unless you are using Ping Identity, your parameters could change.
		<add key="idpUrl" value=""/>
	-->
    <add key="idpUrl" value="https://idp-stg.adobe.com/opensso/idpssoinit?realm=/adobenet&amp;RelayState=https://www14.v1host.com/AdobeSSOTest/default.aspx&amp;NameIDFormat=urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress&amp;metaAlias=/adobenet/idp&amp;spEntityID=versionone.com&amp;binding=urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" />
    <add key="idpResponseParser" value="V1SSOExample.sso.providers.OpenSsoIdpResponseParser,V1SSOExample" />
    <add key="spResponseParser" value="V1SSOExample.sso.providers.OpenSsoSpResponseParser,V1SSOExample" />
  </appSettings>
</configuration>