<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!-- URL to VersionOne instance.  Must end with a slash (/) -->
    <add key="v1ServerUrl" value="https://www7.v1host.com/V1SSOTest/" />

    <!-- Valid user for VersionOne instance 
         In SSO, if your IDP uses integrated auth, you may not need to provide this information -->
    <add key="username" value="" />
    
    <!-- Password for user 
         In SSO, if your IDP uses integrated auth, you may not need to provide this information -->
    <add key="password" value="" />
    
    <!-- Indicates if the connection should use integrated authentication -->
    <add key="integrated" value="true" />
    
    <!-- URL to SSO Identity Provider (IDP) -->
    <add key="idpUrl" value="http://sso:8081/idp/startSSO.ping?PartnerSpId=versionone.com&amp;TargetResource=https://www7.v1host.com/V1SSOTest/default.aspx" />
    
    <!-- Class that will parse IDP response -->
    <add key="idpResponseParser" value="V1SSOExample.sso.providers.PingIdpResponseParser,V1SSOExample" />
    
    <!-- Class that will parse SP response -->
    <add key="spResponseParser" value="V1SSOExample.sso.providers.PingSpResponseParser,V1SSOExample" />
    
    <!-- URI to be used for Authentication. This parameter is required if the integrated parameter above is set to true.  -->
    <add key="authenticationUrl" value="http://sso:8081/idp/" />
    
  </appSettings>
</configuration>